body {
  font-family: Arial, sans-serif;
  cursor: url('../img/hammer.png'), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.game-container {
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  font-size: 20px;
}

.game-board {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #8b4513;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:hover, 
.goblin:hover {
  cursor: url('../img/hammer.png') 15 15, pointer !important;
}

.goblin {
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: none;
}